*.class

# Package Files #
*.jar
*.war
*.ear

# emacs backups #
*~

# Maven Build folder #
target/

# Netbeans Config File #
nb-configuration.xml
/JavaApplication1/nbproject/private/
/JavaApplication1/build/

# Idea files #
*.iml
.idea/

